


server  {
    listen                  8081
    server_name             localhost
    host                    127.0.0.1
    client_max_body_size    10m
    root                    /home/reda/Desktop/ErrorPages
    error_page 404          notFound.html
    error_page 405          ../path
    autoindex               off

    location / {
        root        /Users/rlabbiz/Desktop/webserv/sources/Error_Pages
        cgi         off
        index       indsex.html
        autoindex   on
        method      PUT GET POST
    }

    location /blog {
        root        /Users/rlabbiz/Desktop/webserv/sources/Error_Pages
        index       index.html index.php
        autoindex   on
        method      PUT GET POST
    }

    location /stor {
        root    /Users/rlabbiz/Desktop/webserv/sources/Error_Pages
        autoindex on
        index       index.html index.htm
        method PUT GET POST
    }

    location /reda/labbiz {
        return 301 /blog
        method PUT GET
    }

}

server {
    listen                  8080
    server_name             localhost
    root                    /Error_Pages
    host                    0.0.0.0
    index                   index.html index.htm default.html
    access_log              ../log/access.log
    error_log               ../log/error_log
    error_page 404          ErrorPages/notFound.html
    error_page 405          ../path
    location / {
        root        /Users/rlabbiz/Desktop/webserv/sources/Error_Pages
        index       index.html index.php
        autoindex   on
        method      PUT GET POST
    }
    location /blog {
        root        html
        index       index.html
        method PUT GET
    }
    location /test {
        method PUT
    }
}
