server default {

    listen                  80;
    server_name             www.domain.com;
    root                    html;
    index                   15;
    auto_index              0;
    access_log              ../log/access.log;
    error_log              ../log/error_log;
    error_page 404, 505    ../path;
    location /blog {

    }
    location /stor {
        
    }
}